
  body {
    background-color:#020202;
    color: #f2f2f2;
    font-family: 'arial';
    padding: 0;
    margin: 0;
  }
  img {
    max-width: 99%;
    width: auto;
    height: auto;
  }
  main {
    width: 800px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    background-color: #121212;
    padding-left: 50px;
    height:55px;
  }
  header div {
    padding-top: 12px;
  }
  header img {
    margin-top: 2px;
    position: absolute;
    left: 5px;
  }
  a {
    text-decoration: none;
    color: #f2f2f2;
  }
  h1 {
    font-size: 1.5em;
    display: inline;
  }
  h2 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1.1em;
  }
  article.list {
    display: inline-block;
  }
  article.list img {
    margin: auto;
    display: block;
  }
  .next-link {
    float: right;
  }
  footer {
    width: 800px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
  }
  footer div {
    text-align: center;
  }
  
